{% extends 'qna_website_app/main_theme.html' %}
{% block content %}

<h3>Answers to the question</h3>
<a href="{% url 'all_questions' %}">Go Back</a>
<br><br>
Add an Answer:<br>
<form method="POST" action="">
    {% csrf_token %}
    {{form.as_p}}
    <textarea id="answer" name="answer_text" rows="6" cols="100"></textarea><br>
    <input type="submit" value="Submit">
</form>
<br>

<h3>Here are the answers to this question by other users:</h3>

{% for zanswer in answer%}
    <div class="task-wrapper">
        <div class="task-title">
            <a href="{% url 'answer' zanswer.id %}">{{zanswer.answer_text}}</a>
        </div>
    </div>

{% empty %}
<h3>No Answers</h3>
{% endfor %}
{% endblock content %}
