{% extends 'qna_website_app/main_theme.html' %}
{% block content %}

<h3>Answers to the question</h3>
<a href="{% url 'all_questions' %}">Go Back</a>
<br><br>
Add an Answer:<br>
<a id="add-link" href="{% url 'answeradd' question.id %}">&#x2b;</a>

<h3>Here are the answers to this question by other users:</h3>

{% for zanswer in answer%}
    <div class="task-wrapper">
        <div class="task-title">
            <a href="{% url 'answer' zanswer.id %}">{{zanswer.answer_text}}</a>
        </div>
    </div>

{% empty %}
<h3>No Answers</h3>
{% endfor %}
{% endblock content %}
